<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
if($customerSession->isLoggedIn()) :
?>
<form class="form form-edit-account" action="<?= $block->escapeUrl($block->getUrl('vesicash/index/post')) ?>" method="post" id="form-validate" enctype="multipart/form-data" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>" autocomplete="off">
    
    <fieldset class="fieldset vesicash">
	<?= $block->getBlockHtml('formkey') ?>   
    <input type="hidden" name="customer_id" value="<?= $customerSession->getCustomer()->getId();?>"/> 
        <legend class="legend"><span><?= $block->escapeHtml(__('Bank Details for Vesicash Account')) ?></span></legend><br>
        <div class="field choice">
            <input type="checkbox" name="account_vesi" id="change-vesi" data-role="change-vesi" value="<?= $customerSession->getCustomer()->getVesicashAccountId() ? 1:0 ?>" title="<?= $block->escapeHtmlAttr(__('Create a Vesicash account')) ?>" class="checkbox" checked="<?= $customerSession->getCustomer()->getVesicashAccountId() ? 'checked':'' ?>"/>
            <label class="label" for="change-vesi"><span><?= $block->escapeHtml(__('Create a Vesicash account')) ?></span></label>
        </div>
        <div class="field required" data-container="change-vesi">
            <label class="label" for="vesicash_account_no"><span><?= $block->escapeHtml(__('Account No')) ?></span></label>
            <div class="control">
                <input type="text" name="vesicash_account_no"  value="<?= $customerSession->getCustomer()->getVesicashAccountNo()?>" title="<?= $block->escapeHtmlAttr('Account no') ?>" class="input-text"/>
            </div>
        </div>
        <div class="field required" data-container="change-vesi">
            <label class="label" for="vesicash_account_no"><span><?= $block->escapeHtml(__('Account Name')) ?></span></label>
            <div class="control">
                <input type="text" name="vesicash_account_name"  value="<?= $customerSession->getCustomer()->getVesicashAccountName()?>" title="<?= $block->escapeHtmlAttr(__('Account no')) ?>" class="input-text"/>
            </div>
        </div>
        <div class="field required" data-container="change-vesi">
            <label class="label" for="vesicash_bank_id"><span><?= $block->escapeHtml(__('Bank Id')) ?></span></label>
            <div class="control">
            <select id="vesicash_bank_id" name="vesicash_bank_id" title="<?= /* @noEscape */ __('Bank Id') ?>" class="validate-select" >
                <option value="">Select Bank Id</option>
                <option value="044">ACCESS BANK</option>
                <option value="323">ACCESSMOBILE</option>
            </select>
            </div>
        </div>
        <div class="field required" data-container="change-vesi">
            <label class="label" for="vesicash_account_no"><span><?= $block->escapeHtml(__('Mobile Money Operator')) ?></span></label>
            <div class="control">
            <select id="mobile_money_operator" name="mobile_money_operator" title="<?= /* @noEscape */ __('Mobile Money Operator') ?>" class="validate-select" >
                <option value="">Mobile Money Operator</option>
                <option value="1">Tigo</option>
            </select>
            </div>
        </div>
		<div class="actions-toolbar">
			<div class="primary">
				<button type="submit" class="action save primary" title="<?= $block->escapeHtmlAttr(__('Save')) ?>"><span><?= $block->escapeHtml(__('Save')) ?></span></button>
			</div>
	    </div>
    </fieldset>   
</form>
<script>
    
</script>
<?php endif;?>