<?php 
$lid = $this->getOrderId();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$order = $objectManager->create('Magento\Sales\Model\Order')->loadByIncrementId($lid);
$payment = $order->getPayment();
$method = $payment->getMethodInstance();
$helper = $this->helper('Molla\Vesicash\Helper\Data'); 
?>
<dl class="payment-method purchase order">
    <dt class="title"><?= $block->escapeHtml($method->getTitle()) ?></dt>
    <dd class="content">
        <strong><?= $block->escapeHtml(__('Vesicash Account ID')) ?></strong>
        <span class="number"><?= $block->escapeHtml($order->getPayment()->getVesicashUrl()) ?></span>
        <br>
        <strong><?= $block->escapeHtml(__('Escrow Tran Id')) ?></strong>
        <span class="number"><?= $block->escapeHtml($order->getPayment()->getVesicashTranid()) ?></span>
        <br>
        <?php if(!$order->getPayment()->getVesicashStatus()):?>
            <p style="color:red;"> <?= __('You place order but not complete payment please pay otherwise your order will cancle autometically.');?></p>
            <span class="number">
                <a class="action primary continue click-pay" onClick='window.open("<?= $helper->getCheckoutUrl($order->getPayment()->getVesicashTranid()) ?>","Ratting","width=800,height=900,");' href="javascript:void(0);">
                    <?= __('Pay By Vesicash');?>
                </a>
            </span>
        <?php endif;?>
    </dd>
</dl>
<div class="confirmation-modal-content">
    <p>Vesicash pay will redirect to Vesicash.com site. after pay please close Window.</p>
</div>
<script>
require([
    'jquery',
    'Magento_Ui/js/modal/confirm'
], function ($) {
    'use strict';
    $('.confirmation-modal-content').confirm({
        title: $.mage.__('PAY BY Vesicash'),
        actions: {
            confirm: function() {
                // do something when the confirmation button is clicked
            },
            cancel: function() {
                // do something when the cancel button is clicked
            },
            always: function() {
                // do something when the modal is closed
            }
        },
        buttons: [{
            text: $.mage.__('Cancle'),
            class: 'action-secondary action-dismiss',
            click: function (event) {
                this.closeModal(event);
            }
        }, {
            text: $.mage.__('Pay'),
            class: 'action primary action-accept',
            click: function (event) {
                window.open('<?= $helper->getCheckoutUrl($order->getPayment()->getVesicashTranid()) ?>', '', 'width=800,height=900');
                this.closeModal(event, true);
            }
        }]
    });
});
</script>