<dl class="payment-method purchase order">
    <dt class="title"><?= $block->escapeHtml($block->getMethod()->getTitle()) ?></dt>
    <dd class="content">
        <strong><?= $block->escapeHtml(__('Vesicash Account ID')) ?></strong>
        <span class="number"><?= $block->escapeHtml($block->getInfo()->getVesicashUrl()) ?></span>
        <br>
        <strong><?= $block->escapeHtml(__('Vesicash Tran Id')) ?></strong>
        <span class="number"><?= $block->escapeHtml($block->getInfo()->getVesicashTranid()) ?></span>
        <br>
    </dd>
</dl>
