<?= $block->escapeHtml(__('Escrow Payment Email: %1', $block->getInfo()->getVesicashUrl())) ?>
{{pdf_row_separator}}
<?= $block->escapeHtml(__('Escrow Tran Id: %1', $block->getInfo()->getVesicashTranid())) ?>
{{pdf_row_separator}}

