<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */


$instructions = $block->getInstructions();
?>
<?php if ($instructions): ?>
    <?php $methodCode = $block->escapeHtml($block->getMethodCode());?>
    <div class="items <?php /* @noEscape */ echo $methodCode ?> instructions agreement checkout-agreement-item-content" id="payment_form_<?php /* @noEscape */ echo $methodCode ?>" style="display: none;">
        <?php /* @noEscape */ echo nl2br($block->escapeHtml($instructions)) ?>
    </div>
<?php endif; ?>
<li><span><?= __('Vesicash Account ID :');?> </span> <span> <strong><?= $block->getVesicashUrl();?></strong></span></li>
<li><span><?= __('Vesicash Tran Id :');?> </span> <span> <strong><?= $block->getVesicashTranid();?></strong></span></li>

        
